#root{
  display: flex;
  flex-direction: column;
  height:100vh;
  overflow: hidden;
  max-width: 100%;
}
#main-view{
  position: relative;
  flex: 8;
  overflow-y: scroll;
  overflow-x: hidden;

  .days{
    flex-wrap: wrap;
  }
  .day{
    height:17.8%;
    padding:10px;
    align-items: flex-start;
    border-top: 0;
    transition: .3s ease-out;
    color: #bdbdbd;
    display: block;
    &.current{
      color: #000;
    }
  }
  .date{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    padding:5px;
    text-align: center;
    line-height: 20px;
  }
  .today .date{
    background: red;
    border-radius:50%;
    color: white;
    @extend .z-depth-2;
  }
  .dummy:first-of-type{
    background: #eeeeee;
  }
}
.days{
  display: flex;
  flex:auto;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  text-transform: capitalize;
  .day{
    align-items: center;
    display: flex;
    align-content: flex-start;
    flex: 0 0 14.28%;
    padding: 0;
    border: 1px solid #80deea;
    border-left: 0;
    .badge-wrap{
      flex: 0 0 100%;
      text-align: right;
    }
    &.dayoff{
      background: #eeeeee;
    }
  }
}
